@{
    float totalPrice = (float)ViewData["totalprice"];
    List<CartItems> CartList = (List<CartItems>)ViewData["CartList"];
    if (CartList.Count() == 0)
            {
                
            }
    foreach (dynamic item in CartList)
    {
        <!--Section: Block Content-->
        <section>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-8">

                    <!-- Card -->
                    <div class="mb-3">
                        <div class="pt-4 wish-list">

                            <h5 class="mb-4">Cart (<span>@CartList.Count()</span> items)</h5>

                            <div class="row mb-23">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                        <img class="img-fluid w-100"
                                             src=@item.ProductImg>
                                        @*<a href="#!">
                                            <div class="mask">
                                                <img class="img-fluid w-100"
                                                     src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                                                <div class="mask rgba-black-slight"></div>
                                            </div>
                                        </a>*@
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5>@item.ProductName</h5>
                                                <p class="mb-3 text-muted text-uppercase small">Shirt - blue</p>
                                                <p class="mb-2 text-muted text-uppercase small">Color: blue</p>
                                                <p class="mb-3 text-muted text-uppercase small">Size: M</p>
                                            </div>
                                            <div>
                                                <div class="def-number-input number-input safari_only mb-0 w-100">
                                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                            class="minus decrease"></button>
                                                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                            class="plus increase"></button>
                                                </div>
                                                <small id="passwordHelpBlock" class="form-text text-muted text-center">
                                                    (Note, 1 piece)
                                                </small>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3">
                                                    <i class="fas fa-trash-alt mr-1"></i> Remove item
                                                </a>
                                                <a href="#!" type="button" class="card-link-secondary small text-uppercase">
                                                    <i class="fas fa-heart mr-1"></i> Move to wish list
                                                </a>
                                            </div>
                                            <p class="mb-0"><span><strong id="summary">$17.99</strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <p class="text-primary mb-0">
                                <i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
                                items to your cart does not mean booking them.
                            </p>

                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    <div class="mb-3">
                        <div class="pt-4">

                            <h5 class="mb-4">Expected shipping delivery</h5>

                            <p class="mb-0"> Thu., 12.03. - Mon., 16.03.</p>
                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    <div class="mb-3">
                        <div class="pt-4">

                            <h5 class="mb-4">We accept</h5>

                            <img class="mr-2" width="45px"
                                 src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                 alt="Visa">
                            <img class="mr-2" width="45px"
                                 src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                 alt="American Express">
                            <img class="mr-2" width="45px"
                                 src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                 alt="Mastercard">
                            <img class="mr-2" width="45px"
                                 src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
                                 alt="PayPal acceptance mark">
                        </div>
                    </div>
                    <!-- Card -->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4">

                    <!-- Card -->
                    <div class="mb-3">
                        <div class="pt-4">

                            <h5 class="mb-3">The total amount of</h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Temporary amount
                                    <span>$25.98</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>Gratis</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>The total amount of</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <span><strong>$53.98</strong></span>
                                </li>
                            </ul>

                            <button type="button" class="btn btn-primary btn-block">go to checkout</button>

                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    
                    <!-- Card -->

                </div>
                <!--Grid column-->

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Block Content-->

    }
}



@*<div style="float:left">

        <h4>View Cart</h4>
    </div>
    <div style="float:left">
        <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Index">Continue Shopping</a>
    </div>
    <div style="float:left">
        <a class="nav-link text-dark" asp-area="" asp-controller="MyPurchase" asp-action="Index">Check out</a>
    </div>
    <div style="float:right">
        <a>Total:$ @totalPrice</a>
    </div>

    <table width="80%">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>

            List<CartItems> CartList = (List<CartItems>)ViewData["CartList"];
            foreach (dynamic item in CartList)
            {

                <tr>
                    <td><img src=@item.ProductImg style="float:left" width="5%" height="5%">@item.ProductName</td>
                    <td width="10%">$@item.Price</td>
                    <td width="10%"><form action="~/changequantity"><input type="hidden" name="id" value="@item.CartID" /> Quantity: <input type="number" name="quantity" value="@item.Quantity" /><input type="submit" value="Submit"></form></td>
                    <td></td>
                    <td><a href="~/removefromcart/@item.CartID">Delete</a></td>
                </tr>

            }

    </table>*@
