@{
    ViewData["Title"] = "Cart";
    float totalPrice = (float)ViewData["totalprice"];
    List<CartItems> CartList = (List<CartItems>)ViewData["CartList"]; }
    <h5>Cart (<span>@CartList.Count()</span> items)</h5>

    <div class="container">
        @if (CartList.Count() == 0)
        {
            <h5>Hey! Your cart is empty.</h5>
        }
        @foreach (dynamic item in CartList)
        {
        float summaryPrice = item.Price * item.Quantity;
        <section>

            <div class="row">

                <div class="col-lg-8">

                    <div class="mb-3">
                        <div class="pt-4 wish-list">


                            <div class="row mb-23">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="rounded mb-3 mb-md-0">
                                        <img class="img-fluid w-75 h-75"
                                             src=@item.ProductImg>
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5>@item.ProductName</h5>
                                            </div>
                                            <div>
                                                <form action="~/changequantity">
                                                    <div class="ac_row">
                                                        <div class="ac_cell">
                                                            <input type="hidden" name="id" value="@item.CartID" />
                                                        </div>
                                                        <div class="ac_cell">
                                                            <input type="number" name="quantity" min="1" value="@item.Quantity" />
                                                        </div>
                                                        <div class="ac_cell">
                                                            <input type="submit" value="Change Quantity">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <a href="~/removefromcart/@item.CartID" type="button" class="card-link-secondary small text-uppercase mr-3">
                                                    <i class="fas fa-trash-alt mr-1"></i> Remove item
                                                </a>
                                            </div>
                                            <p class="mb-0"><span><strong id="summary">@string.Format($"{summaryPrice:$#,##0.00}")</strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>


        </section>



        }
        @if (CartList.Count() > 0)
        {
        <div class="col-lg-4">


            <div class="mb-3">
                <div class="pt-4">

                    <h5 class="mb-3">Summary</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Total</strong>
                            </div>
                            <span><strong>@string.Format($"{totalPrice:$#,##0.00}")</strong></span>
                        </li>
                    </ul>

                    <a class="nav-link text-light btn btn-primary btn-block" asp-area="" asp-controller="Cart" asp-action="Checkout"><strong>Checkout</strong></a>
                    <a class="nav-link text-light btn btn-primary btn-block" asp-area="" asp-controller="Gallery" asp-action="Index">Continue Shopping</a>

                </div>
            </div>

        </div>

        }
        else
        {
        <div class="col-lg-4">

            <div class="mb-3">
                <div class="pt-4">

                    <h5 class="mb-3">Summary</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Total</strong>
                            </div>
                            <span><strong>$@totalPrice</strong></span>
                        </li>
                    </ul>

                    <a class="nav-link text-light btn btn-primary btn-block disabled" asp-area="" asp-controller="Cart" asp-action="Checkout"><strong>Checkout</strong></a>
                    <a class="nav-link text-light btn btn-primary btn-block" asp-area="" asp-controller="Gallery" asp-action="Index">Continue Shopping</a>

                </div>
            </div>
        </div>

        }
    </div>