@{ ViewData["Title"] = "Checkout Summary";

    List<Purchase> purchases = (List<Purchase>)ViewData["purchases"];
    List<Product> products = (List<Product>)ViewData["products"];
    List<PurchaseCodes> codes = (List<PurchaseCodes>)ViewData["codes"];
    int pdtCount = codes.Count();

    string searchStr = (string)ViewData["searchStr"];

    List<Purchase> UserPurchases = new List<Purchase>();

}
<!-- Header and Search -->
<div>
    <div class="mb-3">
        <h2>Checkout successful! - Purchase Summary</h2>
        <span class="float-right"><a href="~/mypurchase" class="btn btn-primary" style="color:white">Go to My Purchases</a></span>
    </div>
</div>
<div class="my-5" id="page">
    @{
        if (codes.Count() == 0)
        {
            <h4>No result found</h4>
        }
        else
        {
            foreach (PurchaseCodes c in codes)
            {
                string[] productInfos = c.PID_PDATE.Split(',');
                string productInfo = productInfos[0].Substring(14, 36);
                string purchaseDate = c.Date.ToString("dddd, dd MMMM yyyy hh:mm tt");
                List<Guid> ActivationCodes = c.ActivationCodes;

                Product pdt = products.FirstOrDefault(x => x.Id.ToString() == productInfo);

                if (pdt == null)
                {
                    continue;
                }
                else
                {
                    <div class="row">
                        <div class="col-1"></div>


                        <!--Purchase Download-->
                        <div class="card col-3 mb-5 pt-1 shadow rounded" id="details">
                            <img class="card-img-top mx-auto mt-2" src="@pdt.ImageSrc" alt="Product image" style="width:80%; height:320px" id="image">
                            <div class="card-body">
                                <h6 class="card-title" id="productName">Book Description:</h6>
                                <p class="card-text book-description" style="font-size:13px;text-align:justify">@pdt.Description</p>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary btn-block shadow" data-bs-toggle="modal" data-bs-target="#myModal" onclick="myFunction()">
                                        Download
                                    </button>
                                </div>
                                <div class="text-right">
                                    <a href="~/ProductDetail/Index/@productInfo" style="font-size:10px">For More Product Details </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>

                        <!--Purchase Description-->
                        <div class="col-6 pt-5">
                            <div class="row pt-5" id="title">
                                <p class="pdtCatagory">@pdt.Category</p>
                                <h3 class="col-8 pdtnametext">@pdt.ProductName</h3>
                            </div>
                            <div class="row pt-5" id="purchaseDate">
                                <dl class="row">
                                    <dt class="col-4">Purchased On:</dt>
                                    <dd class="col-8">@purchaseDate</dd>
                                </dl>
                            </div>
                            <div class="row" id="quantity">
                                <dl class="row">
                                    <dt class="col-4">Quantity:</dt>
                                    <dd class="col-8">@c.Quantity</dd>
                                </dl>
                            </div>
                            <div class="row" id="code">
                                <dl class="row">
                                    <dt class="col-4">Activation Code:</dt>
                                    <dd class="col-8">
                                        <select class="form-select" aria-label="Default select example">
                                            @{
                                                foreach (Guid code in ActivationCodes)
                                                {
                                                    <option>@code</option>
                                                }
                                            }
                                        </select>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                }
                <hr />
            };

        }
    }
</div>

<!-- DOWNLOAD Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:powderblue;">
                <h4 class="modal-title" id="in2"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="myFunction2()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="in" style="text-align:center">
                Downloading.....
            </div>
            <div id="myElem">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="myFunction2()">Close</button>
            </div>

        </div>
    </div>
</div>


<script>

    var elem = document.getElementById("myElem");
    var inner = document.getElementById("in");
    var inner2 = document.getElementById("in2");
    function myFunction() {
        setTimeout(function () {
            elem.style.display = "none";
            inner.innerHTML = "Successfully downloaded. Thank You for your purchase";
            inner2.innerHTML = "Awesome"
        }, 2000);
    }
    function myFunction2() {
        setTimeout(function () {
            elem.style.display = "block";
            inner.innerHTML = "Downloading.....";
            inner2.innerHTML = ""
        }, 500);
    }

</script>

<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>


