@{ ViewData["Title"] = "My Purchases";


    List<Purchase> purchases = (List<Purchase>)ViewData["purchases"];
    List<Product> products = (List<Product>)ViewData["products"];
    List<PurchaseCodes> codes = (List<PurchaseCodes>)ViewData["codes"];
    List<Review> reviews = (List<Review>)ViewData["reviews"];
    int pdtCount = codes.Count();

    string searchStr = (string)ViewData["searchStr"];

    List<Review> PurRev = new List<Review>();
    List<Purchase> NoRev = new List<Purchase>();


    List<Purchase> UserPurchases = new List<Purchase>(); }
<!-- Header and Search -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div>
    <div class="mb-3">
        <h2>My Purchases</h2>
    </div>
    <div class="nav">
        <div class="col-6 nav-item">
            <form action="/MyPurchase/Search" method="post">
                <div class="input-group rounded">
                    <input type="search" name="searchStr" value="@searchStr" class="form-control rounded" placeholder="Search" aria-label="Search"
                           aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </form>
        </div>
        <div class="dropdown nav-item">
            <button type="button" class="btn border border-dark dropdown-toggle" data-bs-toggle="dropdown">
                Sort By
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/MyPurchase/Index/4">Date (Newest)</a></li>
                <li><a class="dropdown-item" href="/MyPurchase/Index/5">Date (Oldest)</a></li>
                <li><a class="dropdown-item" href="/MyPurchase/Index/6">Product Name (A-Z)</a></li>
                <li><a class="dropdown-item" href="/MyPurchase/Index/7">Product Name (Z-A)</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Nav Menu -->
<ul class="nav nav-tabs mt-3">
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-action="Index" asp-controller="MyPurchase" asp-route-id="1">All (@pdtCount)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="MyPurchase" asp-route-id="2">Last Month</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="MyPurchase" asp-route-id="3">Last Year</a>
    </li>
</ul>

@if (TempData["SuccessMessage"] != null)
{
    <div id="successDiv" class="alert alert-success alert-dismissable">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
    <script>
        setTimeout(function () {
            $('#successDiv').fadeOut('fast');
        }, 3000); // <-- time in milliseconds
    </script>
    TempData.Remove("SuccessMessage");

}

<div class="my-5" id="page">
    @{ if (codes.Count() == 0)
        {
            <h4>No result found</h4> }
        else
        {
            foreach (Purchase p in purchases)
            {
                //purchases that already reviewed
                var pppp =
                from rev in reviews
                where rev.Purchases.Id == p.Id
                select rev;

                foreach (Review rr in pppp)
                {
                    PurRev.Add(rr);
                }

            }
            var result = purchases.Where(p => reviews.All(p2 => p2.Purchases.Id != p.Id));

            foreach (Purchase rr in result)
            {
                NoRev.Add(rr);

            }


            // }

            foreach (PurchaseCodes c in codes)
            {
                string[] productInfos = c.PID_PDATE.Split(',');
                string productInfo = productInfos[0].Substring(14, 36);
                string purchaseDate = c.Date.ToString("dddd, dd MMMM yyyy hh:mm tt");
                List<Guid> ActivationCodes = c.ActivationCodes;

                Product pdt = products.FirstOrDefault(x => x.Id.ToString() == productInfo);
                Review review = reviews.FirstOrDefault(x => x.ProductId == pdt.Id);
                Purchase NoRevPur = purchases.FirstOrDefault(x => x.ProductId == pdt.Id);


                if (pdt == null)
                {
                    continue;
                }
                else
                {
                    <div class="row">
                        <div class="col-1"></div>


                        <!--Purchase Download-->
                        <div class="card col-3 mb-5 pt-1 shadow rounded" id="details">
                            <img class="card-img-top mx-auto mt-2" src="@pdt.ImageSrc" alt="Product image" style="width:80%; height:320px" id="image">
                            <div class="card-body">
                                <h6 class="card-title" id="productName">Book Description:</h6>
                                <p class="card-text book-description" style="font-size:13px;text-align:justify">@pdt.Description</p>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary btn-block shadow" data-bs-toggle="modal" data-bs-target="#myModal" onclick="myFunction()">
                                        Download
                                    </button>
                                </div>
                                <div class="text-right">
                                    <a href="~/ProductDetail/Index/@productInfo" style="font-size:10px">For More Product Details </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>

                        <!--Purchase Description-->
                        <div class="col-6 pt-5">
                            <div class="row pt-5" id="title">
                                <p class="pdtCatagory">@pdt.Category</p>
                                <h3 class="col-8 pdtnametext">@pdt.ProductName</h3>
                            </div>
                            <div class="row pt-5" id="purchaseDate">
                                <dl class="row">
                                    <dt class="col-4">Purchased On:</dt>
                                    <dd class="col-8">@purchaseDate</dd>
                                </dl>
                            </div>
                            <div class="row" id="quantity">
                                <dl class="row">
                                    <dt class="col-4">Quantity:</dt>
                                    <dd class="col-8">@c.Quantity</dd>
                                </dl>
                            </div>
                            <div class="row" id="code">
                                <dl class="row">
                                    <dt class="col-4">Activation Code:</dt>
                                    <dd class="col-8">
                                        <select class="form-select" aria-label="Default select example">
                                            @{
                                                foreach (Guid code in ActivationCodes)
                                                {
                                                    <option>@code</option>
                                                }
                                            }
                                        </select>
                                    </dd>
                                </dl>
                            </div>
                            <div class="container pt-3">
                                <div class="d-flex flex-row-reverse">
                                    <a class="btn btn-light btn-lg shadow-sm mx-2" href="~/addtocart/@pdt.Id" role="button">Buy Again</a>
                                    <a class="btn btn-warning btn-lg shadow-sm mx-2" href="#" role="button">
                                        @{
                                            if (review == null)
                                            {
                                                @:Leave Review
                                            }
                                            else
                                            {
                                                @:See Review
                                            }
                                        }
                                    </a>
                                    @{ if (review != null)
                                        {
                                            <a class="btn btn-warning shadow-sm mx-2" href="#" role="button">See Review</a> }
                                        else
                                        {

                                            <button type="button" class="btn btn-success shadow-sm mx-2" data-bs-toggle="modal" data-bs-target="#AddReviewModal" onclick="addReviewFunction('@pdt.Id.ToString().ToUpper()','@NoRevPur.Id.ToString().ToUpper()')">
                                                Add Review
                                            </button>
                                        } }

                                </div>
                            </div>
                        </div>
                    </div>
                }
                <hr />
            };

        }
    }
</div>

<!-- DOWNLOAD Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:powderblue;">
                <h4 class="modal-title" id="in2"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="myFunction2()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="in" style="text-align:center">
                Downloading.....
            </div>
            <div id="myElem">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="myFunction2()">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="AddReviewModal" tabindex="-1" role="dialog" aria-labelledby="AddReviewModal"
     aria-hidden="true">
    <form id="form" action="/MyPurchase/AddReview" class="rating" method="POST">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Your Review</h4>

                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-star prefix grey-text"></i>


                        <fieldset class="rating">


                            <input id="demo-1" type="radio" name="rr" value="1">
                            <label for="demo-1">1 star</label>
                            <input id="demo-2" type="radio" name="rr" value="2">
                            <label for="demo-2">2 stars</label>
                            <input id="demo-3" type="radio" name="rr" value="3">
                            <label for="demo-3">3 stars</label>
                            <input id="demo-4" type="radio" name="rr" value="4">
                            <label for="demo-4">4 stars</label>
                            <input id="demo-5" type="radio" name="rr" value="5">
                            <label for="demo-5">5 stars</label>

                            <div class="stars">
                                <label for="demo-1" aria-label="1 star" title="1 star"></label>
                                <label for="demo-2" aria-label="2 stars" title="2 stars"></label>
                                <label for="demo-3" aria-label="3 stars" title="3 stars"></label>
                                <label for="demo-4" aria-label="4 stars" title="4 stars"></label>
                                <label for="demo-5" aria-label="5 stars" title="5 stars"></label>
                            </div>

                        </fieldset>

                        <label data-error="wrong" data-success="right" for="rr">Rating (1-5)</label>

                    </div>


                    <div class="md-form mb-5">
                        <i class="fas fa-comments prefix grey-text"></i>
                        <input type="text" id="comment" name="comment" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="comment">Comments</label>
                    </div>

                    <input type="hidden" id="purchaseid" name="purchaseid" class="form-control">
                    <input type="hidden" id="productid" name="productid" class="form-control">
                    <input type="hidden" id="rating" name="rating" class="form-control">

                </div>

                <script>

                    $(':radio').change(function () {
                        console.log('New star rating: ' + this.value);
                        $('#rating').val(this.value);
                    });
                </script>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success shadow-sm mx-2">ADD</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="myFunction2()">Close</button>
                </div>

            </div>
        </div>

    </form>
</div>
<script>

    var elem = document.getElementById("myElem");
    var inner = document.getElementById("in");
    var inner2 = document.getElementById("in2");
    function myFunction() {
        setTimeout(function () {
            elem.style.display = "none";
            inner.innerHTML = "Successfully downloaded. Thank You for your purchase";
            inner2.innerHTML = "Awesome"
        }, 2000);
    }
    function myFunction2() {
        setTimeout(function () {
            elem.style.display = "block";
            inner.innerHTML = "Downloading.....";
            inner2.innerHTML = ""
        }, 500);
    }

    function addReviewFunction(productid, purchaseid) {

        $('#productid').val(productid);
        $('#purchaseid').val(purchaseid);
    }

</script>

<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>


