@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Product> ProductList = (List<Product>)ViewData["productlist"];
    string searchstring = (string)ViewData["searchstring"];
}


<div class="">
    <div class="form-group">
        <form action="/Gallery/" method="POST">
            <input class="form-text; searchbar" type="text" name="searchstring" placeholder="Search" value="@searchstring" />
        </form>
    </div>
    <div class="row">
        @{
            foreach (var product in ProductList)
            {
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="gallery-card card">
                        <img src="@product.ImageSrc" alt="@product.ProductName book cover" class="gallery-pic" />
                        <div class="">
                            <h5 class="text-truncate card-title">@product.ProductName</h5>
                            <div class="gallery-description card-text">
                                <p>@product.Description</p>
                            </div>
                            <button class="btn-dark btn-block gallery-buy-button">$@product.Price Add to Cart</button>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
