@{
    List<Product> ProductList = (List<Product>)ViewData["productlist"];
    string searchstring = (string)ViewData["searchstring"];
    ViewData["Title"] = "Product Gallery";
}

<h1>Products</h1>

<div class="">
    <div class="form-group">
        <form action="/Gallery/" method="POST">
            <div class="input-group rounded">
                <input type="search" name="searchstring" value="@searchstring" class="form-control rounded" placeholder="Search" aria-label="Search"
                       aria-describedby="search-addon" />
                <button type="submit">
                        <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        @{
            foreach (var product in ProductList)
            {
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="gallery-card card">
                        <a href="~/ProductDetail/Index/@product.Id">
                            <img src="@product.ImageSrc" alt="@product.ProductName book cover" class="gallery-pic" />
                            <h5 class="text-truncate card-title">@product.ProductName</h5>
                            <div class="gallery-description card-text">
                                <p>@product.Description</p>
                            </div>
                        </a>
                        <a href="~/addtocart/@product.Id"><button class="btn-dark btn-block gallery-buy-button">@string.Format($"{product.Price:$#,##0.00}")  Add to Cart</button></a>

                    </div>
                </div>

            }
        }
    </div>
</div>
