@{
    ViewData["Title"] = "Product Detail";
}

@{
    var product = (Product)ViewData["product"];
    int rating = (int)ViewData["rating"];
    int rating_num = (int)ViewData["rating_num"];
    List<Product> recommendation = (List<Product>)ViewData["Recommendation"];

    List<Review> aReviewList = (List<Review>)ViewData["aReviewList"];
    List<string> userNameList = (List<string>)ViewData["userNameList"];
}

<head>
    <style>
        .whole {
            margin-left: 120px;
            margin-right: 120px;
        }

        .clearfix::after {
            margin-bottom: 20px;
        }

        .detailbox {
            margin-top: 70px;
            margin-bottom: 50px;
            width: 65%;
            margin-left: 600px;
        }

        .detailimg {
            border: 20px solid #ffffff;
            float: left;
            width: 500px;
            height: 700px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .productCatagory {
            color: #808080;
            font-size: 30px;
            font-weight: bold;
        }

        .productnametext {
            text-align: left;
            color: #363636;
            font-size: 60px;
            font-weight: 900;
        }

        .rating {
            margin-top:20px;
            margin-bottom:20px;
            font-size: 30px;
        }

        .review_nav {
            color: #808080;
            font-size: 20px;
        }

        .pricetext {
            text-align: left;
            color: #CD5C5C;
            font-size: 40px;
            font-weight: bold;
            margin-top: 100px;
        }

        .description {
            color: #808080;
            font-size: 22px;
        }

        .detail-buy-button {
            background-color: darkcyan;
            width: auto;
            color: #ffffff;
            font-size: 40px;
            font-weight: 700;
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 20px;
        }

        .rectext {
            margin-top: 25px;
            margin-bottom: 20px;
            color: #808080;
            font-size: 35px;
        }

        .checked {
            color: orange;
        }

        .reviewBox{
            margin-top:20px;
            margin-bottom:20px;
        }

        .reviewName{
            color:darkcyan;
            font-size:25px;
            font-weight:700;
        }

        .reviewDate {
            font-size:20px;
        }

        .reviewComment{
            font-size:20px;
        }

        .reviewRating {
            font-size: 15px;
        }

        .recommendation {
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="whole">
    <div class="clearfix">
        <img class="detailimg" src="@product.ImageSrc" alt="@product.ProductName image">
        <div class="detailbox">
            <p class="productCatagory">@product.Category</p>
            <h2 class="productnametext">@product.ProductName </h2>
            <div class="rating">
                @{
                    for (int i = 0; i < rating; i++)
                    {
                        @:<span class="fa fa-star checked"></span>
                    }
                    for (int i = 0; i < (5 - rating); i++)
                    {
                        @:<span class="fa fa-star"></span>
                    }
                }
                <a href="#review">@rating_num reviews</a>
            </div>
            <p class="description"><br />@product.Description</p>
            <p class="pricetext"> $ @product.Price.ToString("0.00")</p>
            <button class="btn-dark btn-block detail-buy-button">Add to cart</button>
        </div>
    </div>

    <hr />


    <div class="recommendation">
        <h4 class="rectext">Customers who bought this also bought </h4>
        <div class="row">
            @{if (recommendation != null)
                    foreach (Product rec in recommendation)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="card home-card">
                                <a href="/productdetail/index/?id=@rec.Id">
                                    <img class="home-pic" src=@rec.ImageSrc alt=@rec.ProductName />
                                    <div class="card-body">
                                        <h6 class="card-title" align="center">@rec.ProductName</h6>
                                    </div>
                                </a>
                                <button type="button" class="btn-dark btn-block home-buy-button">$@rec.Price Add to Cart</button>
                            </div>
                        </div>
                    }
            }

        </div>
    </div>

    <hr />

    <div>
        <h4 class="rectext" id="review">Customer reviews</h4>
        <div class="reviewBox">

            @{
                for (int i = 0; i < aReviewList.Count; i++)
                {
                    <p><span class="reviewName">@userNameList[i]</span>   <span class="">   Reviewed on @aReviewList[i].ReviewDate.Day / @aReviewList[i].ReviewDate.Month / @aReviewList[i].ReviewDate.Year</span><br /></p>
                    <div class="reviewRating">
                        <p>
                            @{
                                for (int j = 0; j < aReviewList[i].Rating; j++)
                                {
                                    @:<span class="fa fa-star checked"></span>
                                }
                                for (int j = 0; j < (5 - aReviewList[i].Rating); j++)
                                {
                                    @:<span class="fa fa-star"></span>
                                }
                            }
                            (@aReviewList[i].Rating / 5)
                        </p>

                    </div>
                    <p class="reviewComment">@aReviewList[i].Comments<br /></p>
            <p></p>
                }
            }
        </div>
    </div>
</body>
<!--add link to gallary-->