
@{
    ViewData["Title"] = "ProductDetail";
}

@{
    var product = (Product)ViewData["product"];
    var rating = ViewData["rating"];
}


<head>
    <style>
        .whole{
            margin-left:120px;
            margin-right:120px;
        }

        .navigation{
            margin-bottom:20px;
        }

        .main {
            position: relative;
        }

        .detail {
        }

        .detailimg {
            border: 10px solid #808080;
            float:left;
            width:300px;
        }

        .detailbox {
            margin-left: 400px;
        }

        .nametext {
            color: #808080;
            font-size: 40px;
            font-weight: bold;
        }

        .pricetext {
            color: #CD5C5C;
            font-size: 30px;
            font-weight: bold;
            margin-top:40px;
        }

        .comment{

        }

        .recommendation{

        }

    </style>
</head>

<body class="whole">
    <button class="navigation">back to home</button>

    <div class="main">
        <div class="detail">
            <img class="detailimg" src="/image/@product.ImageSrc" alt="@product.ProductName image">
            <div class="detailbox">
                <h2 class="productnametext">@product.ProductName </h2>
                <p class="pricetext">$ @product.Price</p>
                <p>Genre<br />@product.Category</p>
                <p>Description<br />@product.Description</p>
                <button>add to cart</button>
                <p>rating @rating</p>
            </div>
        </div>
    </div>
</body>


<!--// product name, image, price, comment
// add to cart,  cart, sales volumn, recommendation
// top sale5, rating(3/5)-->
<!--  -->